@import 'fonts.scss', 
        'reset.scss';

body {
    font-family: gilroy, tahoma;
    font-weight: 500;
}

.container {
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
}

// header
// =========================================
.header {
    width: 100%;
}

// topnav
// =========================================
.topnav {
    position: relative;
    display: flex;
    justify-content: space-between;
    &__link {
        padding: 33px 26px;
        color: #828282;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;  
        transition: color .2s linear;  
        outline: none;
        &:hover,
        &:focus, 
        &_active {
            color: #070707;
        }
        @media (max-width: 480px) {
            font-size: 34px;
        }  
    }
    @media (max-width: 480px) {
        display: none;
        justify-content: flex-start;
        padding-top: 34px;
    }
    &_show {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
    }    
}
.topnav::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #828282;
    position: absolute;
    left: 0;
    bottom: 0;
    @media (max-width: 480px) {
        display: none;
    }    
}

// burger
// =========================================
.burger {
    display: none;
    width: 33px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 68px;
    right: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    &__line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #070707;
        transition: transform .2s linear, background-color .2s linear;
        &:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
        }
        &:nth-child(3) {
            position: absolute;
            bottom: 0;
            left: 0;
        }        
    }
    &_active {
        position: fixed;
    }
    &_active &__line {
        background-color: #828282;
        &:nth-child(1) {
            transform: rotate(45deg) translate(11px);
            
        }
        &:nth-child(2) {
            transform: scale(0);
            opacity: 0;
        }        
        &:nth-child(3) {
            transform: rotate(-45deg) translate(11px);
        }          
    } 
    @media (max-width: 480px) {
        display: block;
    }  
}

// intro
// =========================================
.intro {
    width: 100%;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px 0;

        @media (max-width: 480px) {
            padding: 63px 0 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }        
    }
    &__name {
        width: 120px;
        font-family: gilroy;
        font-size: 47px;
        line-height: 1.25; 
        margin-bottom: -10px;  

        @media (max-width: 480px) {
            margin-bottom: 15px; 
        }          
    }
    &__bio {
        font-family: gilroy;
        font-size: 18px;
        line-height: 1.22222;              
    }
}

// ru-en
// =========================================
.ru-en {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
    width: 17px;
    transform: rotate(180deg);
    @media (max-width: 480px) {
        display: none;
    }    
    &__item {
        writing-mode: vertical-lr; 
        font-family: gilroy;
        font-size: 16px;
        font-weight: 700;
        line-height: .8;
        text-transform: uppercase;
        color: #828282;
        outline: none;
        transition: color .2s linear;
        &:hover,
        &:focus,
        &_active {
            color: #070707;        
        }
    }    
    &__delim {
        background-color: #070707;
        width: 100%;
        height: 2px;
        border: 0;
        @media (max-width: 480px) {
            height: 4px;
        }             
    }     
    &_show {
        display: flex;
        position: fixed;
        right: 28px;
        bottom: 28px;
        z-index: 3;
        transform: rotate(0deg);
        height: 124px;
        width: 28px;
    }
    &_show &__item {
        font-size: 34px;
    }
           
}

// slider
// =========================================
.slider {
    width: 100%;
    padding-bottom: 100px;
    &__img {
        display: block;
        width: 100%;
    }
}

// about
// =========================================
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 100px 30px;
    background-color: #F6F6F6;
    &__title {
        margin-bottom: 17px;        
    }
    &__text {
        max-width: 485px;
        & p {
            font-family: gilroy;
            font-size: 18px;
            line-height: 1.22222;
            margin-bottom: 40px;
            white-space: pre;
            @media (max-width: 480px) {
                white-space: normal;
            }
        }
        & p:last-child {
            margin-bottom: 0;
        }
    }
    @media (max-width: 480px) {
        padding: 80px 30px;
    }  
}

// title
// =========================================
.title {
    font-family: Gilroy;
    font-size: 34px;
    line-height: 1.23529;
    text-align: center;
}

// subtitle
// =========================================
.subtitle {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22222;
    text-align: center;
}

// skills
// =========================================
.skills {
    width: 100%;
    padding: 90px 0;
    &__title {
        margin-bottom: 62px;
        @media (max-width: 480px) {
            margin-bottom: 50px;
        }
    }
    &__subtitle {
        margin-bottom: 75px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 1000px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }  
    }
    &__card {
        display: block;
        margin-bottom: 20px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        & img {
            display: block;
            width: 100%;
            max-width: 167px;
            margin: 0 auto;
        }
        @media (max-width: 1000px) {
            max-width: 50%;
            width: 50%;
            margin-bottom: 40px;
            margin-right: 0; 
            &:last-child {
                margin-bottom: 0;
            }             
        }
        @media (max-width: 480px) {
            max-width: 100%;
            width: 100%;
            margin-bottom: 80px;
            margin-right: 0;          
        }        
    }   
}

// pornfolio
// =========================================
.portfolio {
    width: 100%;
    background-color: #F6F6F6;    
    padding: 112px 0 96px;
    &__title {
        margin-bottom: 47px;
        @media (max-width: 480px) {
            margin-bottom: 65px;
        }
    }
    &__item {
        text-align: center;
        max-width: 936px;
        margin-bottom: 96px;
        &:last-child {
            margin-bottom: 0;
        }
        & img {
            display: block;
            width: 100%;
            margin-bottom: 45px;
        }
    }
    &__link {
        display: inline-block;
        font-family: Gilroy;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22222;  
        outline: none;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            transition: background-color .2s linear;
            background-color: #070707;
        } 
        &:hover::after,
        &:focus::after {
            background-color: transparent;
        }             
    }
    @media (max-width: 480px) {
        padding: 80px 0;
    }    
}

// footer
// =========================================
.footer {
    width: 100%;
    padding: 115px 0;
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__button {
        display: block;
        width: 180px;
        height: 42px;
        border: 1px solid transparent;
        outline: 0;
        margin: 0 auto;
        background-color: #070707;
        color: #ffffff;
        border-radius: 20px;
        font-family: Gilroy;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.22222;  
        cursor: pointer;
        margin-bottom: 85px;
        transition: background-color .2s linear,
        color .2s linear;
        &:hover,
        &:focus {
            border: 1px solid #070707;
            background-color: #F6F6F6;
            color: #070707;
        }
        @media (max-width: 480px) {
            margin-bottom: 60px;
            width: 100%;
        }               
    }
    &__social {
        margin-bottom: 45px !important;
    }
    &__text {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21428;
        text-align: center;    
        color: #828282; 
        white-space: pre;
        @media (max-width: 480px) {
            font-size: 18px;
        }               
    }
    @media (max-width: 480px) {
        padding: 80px 0;
    }      
}

// social
// =========================================
.social {
    display: flex;
    justify-content: space-between;
    max-width: 342px;
    margin: 0 auto;
    &__item{
        outline: none;
    }
    &__item:hover &__icon,
    &__item:focus &__icon{
        transform: scale(1.1, 1.1);
    }
    &__icon {
        width: 41px;
        height: 41px;
        transition: transform .2s linear;
    }
}