@charset "UTF-8";
@font-face {
  font-family: 'gilroy';
  src: url("../fonts/gilroy-bold.eot");
  src: local("☺"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url("../fonts/gilroy-medium.eot");
  src: local("☺"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #070707;
}

body {
  font-family: gilroy, tahoma;
  font-weight: 500;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.topnav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topnav__link {
  padding: 33px 26px;
  color: #828282;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  outline: none;
}

.topnav__link:hover, .topnav__link:focus, .topnav__link_active {
  color: #070707;
}

@media (max-width: 480px) {
  .topnav__link {
    font-size: 34px;
  }
}

@media (max-width: 480px) {
  .topnav {
    display: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 34px;
  }
}

.topnav_show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FFFFFF;
}

.topnav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #828282;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 480px) {
  .topnav::after {
    display: none;
  }
}

.burger {
  display: none;
  width: 33px;
  height: 20px;
  position: absolute;
  z-index: 3;
  top: 68px;
  right: 30px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #070707;
  -webkit-transition: background-color .2s linear, -webkit-transform .2s linear;
  transition: background-color .2s linear, -webkit-transform .2s linear;
  transition: transform .2s linear, background-color .2s linear;
  transition: transform .2s linear, background-color .2s linear, -webkit-transform .2s linear;
}

.burger__line:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.burger__line:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
}

.burger_active {
  position: fixed;
}

.burger_active .burger__line {
  background-color: #828282;
}

.burger_active .burger__line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(11px);
          transform: rotate(45deg) translate(11px);
}

.burger_active .burger__line:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.burger_active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(11px);
          transform: rotate(-45deg) translate(11px);
}

@media (max-width: 480px) {
  .burger {
    display: block;
  }
}

.intro {
  width: 100%;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 0;
}

@media (max-width: 480px) {
  .intro__inner {
    padding: 63px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.intro__name {
  width: 120px;
  font-family: gilroy;
  font-size: 47px;
  line-height: 1.25;
  margin-bottom: -10px;
}

@media (max-width: 480px) {
  .intro__name {
    margin-bottom: 15px;
  }
}

.intro__bio {
  font-family: gilroy;
  font-size: 18px;
  line-height: 1.22222;
}

.ru-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 65px;
  width: 17px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 480px) {
  .ru-en {
    display: none;
  }
}

.ru-en__item {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-family: gilroy;
  font-size: 16px;
  font-weight: 700;
  line-height: .8;
  text-transform: uppercase;
  color: #828282;
  outline: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.ru-en__item:hover, .ru-en__item:focus, .ru-en__item_active {
  color: #070707;
}

.ru-en__delim {
  background-color: #070707;
  width: 100%;
  height: 2px;
  border: 0;
}

@media (max-width: 480px) {
  .ru-en__delim {
    height: 4px;
  }
}

.ru-en_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 3;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  height: 124px;
  width: 28px;
}

.ru-en_show .ru-en__item {
  font-size: 34px;
}

.slider {
  width: 100%;
  padding-bottom: 100px;
}

.slider__img {
  display: block;
  width: 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 100px 30px;
  background-color: #F6F6F6;
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  max-width: 485px;
}

.about__text p {
  font-family: gilroy;
  font-size: 18px;
  line-height: 1.22222;
  margin-bottom: 40px;
  white-space: pre;
}

@media (max-width: 480px) {
  .about__text p {
    white-space: normal;
  }
}

.about__text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .about {
    padding: 80px 30px;
  }
}

.title {
  font-family: Gilroy;
  font-size: 34px;
  line-height: 1.23529;
  text-align: center;
}

.subtitle {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  text-align: center;
}

.skills {
  width: 100%;
  padding: 90px 0;
}

.skills__title {
  margin-bottom: 62px;
}

@media (max-width: 480px) {
  .skills__title {
    margin-bottom: 50px;
  }
}

.skills__subtitle {
  margin-bottom: 75px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 1000px) {
  .skills__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skills__card {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.skills__card:last-child {
  margin-right: 0;
}

.skills__card img {
  display: block;
  width: 100%;
  max-width: 167px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .skills__card {
    max-width: 50%;
    width: 50%;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .skills__card:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .skills__card {
    max-width: 100%;
    width: 100%;
    margin-bottom: 80px;
    margin-right: 0;
  }
}

.portfolio {
  width: 100%;
  background-color: #F6F6F6;
  padding: 112px 0 96px;
}

.portfolio__title {
  margin-bottom: 47px;
}

@media (max-width: 480px) {
  .portfolio__title {
    margin-bottom: 65px;
  }
}

.portfolio__item {
  text-align: center;
  max-width: 936px;
  margin-bottom: 96px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__item img {
  display: block;
  width: 100%;
  margin-bottom: 45px;
}

.portfolio__link {
  display: inline-block;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  outline: none;
}

.portfolio__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  background-color: #070707;
}

.portfolio__link:hover::after, .portfolio__link:focus::after {
  background-color: transparent;
}

@media (max-width: 480px) {
  .portfolio {
    padding: 80px 0;
  }
}

.footer {
  width: 100%;
  padding: 115px 0;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__subtitle {
  margin-bottom: 30px;
}

.footer__button {
  display: block;
  width: 180px;
  height: 42px;
  border: 1px solid transparent;
  outline: 0;
  margin: 0 auto;
  background-color: #070707;
  color: #ffffff;
  border-radius: 20px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  cursor: pointer;
  margin-bottom: 85px;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}

.footer__button:hover, .footer__button:focus {
  border: 1px solid #070707;
  background-color: #F6F6F6;
  color: #070707;
}

@media (max-width: 480px) {
  .footer__button {
    margin-bottom: 60px;
    width: 100%;
  }
}

.footer__social {
  margin-bottom: 45px !important;
}

.footer__text {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21428;
  text-align: center;
  color: #828282;
  white-space: pre;
}

@media (max-width: 480px) {
  .footer__text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 80px 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 342px;
  margin: 0 auto;
}

.social__item {
  outline: none;
}

.social__item:hover .social__icon,
.social__item:focus .social__icon {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.social__icon {
  width: 41px;
  height: 41px;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
/*# sourceMappingURL=style.css.map */