@charset "UTF-8";
@font-face {
  font-family: 'gilroy';
  src: url("../fonts/gilroy-bold.eot");
  src: local("☺"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url("../fonts/gilroy-medium.eot");
  src: local("☺"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #070707;
}

body {
  font-family: gilroy, tahoma;
  font-weight: 500;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.topnav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topnav__link {
  padding: 33px 0;
  color: #828282;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.topnav__link_active {
  color: #070707;
}

.topnav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #828282;
  position: absolute;
  left: 0;
  bottom: 0;
}

.intro {
  width: 100%;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 0;
}

.intro__name {
  width: 120px;
  font-family: gilroy;
  font-size: 47px;
  line-height: 1.25;
}

.intro__bio {
  font-family: gilroy;
  font-size: 18px;
  line-height: 1.22222;
}

.ru-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 65px;
  width: 17px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ru-en__item {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-family: gilroy;
  font-size: 16px;
  font-weight: 700;
  line-height: .8;
  text-transform: uppercase;
  color: #828282;
}

.ru-en__item_active {
  color: #070707;
}

.ru-en__delim {
  background-color: #070707;
  width: 100%;
  height: 2px;
  border: none;
}

.slider {
  width: 100%;
  padding-bottom: 100px;
}

.slider__item {
  display: block;
  width: 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 100px 30px;
  background-color: #F6F6F6;
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  max-width: 485px;
  font-family: gilroy;
  font-size: 18px;
  line-height: 1.22222;
}

.about__text p {
  margin-bottom: 40px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.title {
  font-family: Gilroy;
  font-size: 34px;
  line-height: 1.23529;
  text-align: center;
}

.subtitle {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  text-align: center;
}

.skills {
  width: 100%;
  padding: 90px 0;
}

.skills__title {
  margin-bottom: 62px;
}

.skills__subtitle {
  margin-bottom: 82px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.skills__card {
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 167px;
}

.skills__card:last-child {
  margin-right: 0;
}

.skills__card img {
  display: block;
  width: 100%;
}

.portfolio {
  width: 100%;
  background-color: #F6F6F6;
  padding: 112px 0 96px;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio__item {
  max-width: 936px;
  margin-bottom: 96px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__item img {
  display: block;
  width: 100%;
  margin-bottom: 45px;
}

.portfolio__link {
  display: block;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer {
  width: 100%;
  padding: 115px 0;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__subtitle {
  margin-bottom: 30px;
}

.footer__button {
  display: block;
  width: 180px;
  height: 42px;
  border: 0;
  outline: 0;
  margin: 0 auto;
  background-color: #070707;
  color: #ffffff;
  border-radius: 20px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  cursor: pointer;
  margin-bottom: 85px;
}

.footer__social {
  margin-bottom: 45px !important;
}

.footer__text {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21428;
  text-align: center;
  color: #828282;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 342px;
  margin: 0 auto;
}

.social__icon {
  width: 41px;
  height: 41px;
}
/*# sourceMappingURL=style.css.map */